# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- Jupyter Notebook
- RStudio
- GitHub
- Anaconda

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. C++
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Keras
5. Matplotlib

|Data Science Tools|
|:--------:|
|Apache Airflow|
|KubeFlow|
|Apache Kafka|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This is a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

## Minutes-Hours Converter

In [15]:
min = 200
# This will convert 200 minutes to hours by diving by 60
hours = min/60
print(f'{min} minutes are {hours} hours')

200 minutes are 3.3333333333333335 hours

## Author
√Ålvaro